@import '../styles/colors';
@import '../styles/utils';

.btn {
    padding: 10px 20px;
    border-radius: 5px;

    @include boxShadow();
    background: $primary-bg;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }

    @include TxtColor($primary-bg);
}
