@import '../styles/colors';
@import '../styles/utils';

.btn {
    padding: 10px 20px;
    border-radius: 5px;

    @include boxShadow();
    background: $primary-bg;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }

    &[data-variant='primary'] {
        background: $primary-bg;
        @include TxtColor($primary-bg);
    }
    &[data-variant='default'] {
        background: $primary-bg;
        @include TxtColor($primary-bg);
    }
    &[data-variant='secondary'] {
        background: $secondary-bg;
        @include TxtColor($secondary-bg);
    }

    @include TxtColor($primary-bg);
}
