.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba($color: #000000, $alpha: 0.7);
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    .modal {
        width: 600px;
        height: 350px;
        background: #ededed;
        border-radius: 5px;
        overflow: auto;
        z-index: 3;
        position: relative;
        padding: 30px;

        .close {
            position: absolute;
            top: 15px;
            right: 15px;
            cursor: pointer;
            font-size: 2rem;
        }
    }
}
